body  {
	background-color: #2F2435;
}
.top {
	border-bottom: 5px solid #6E5C78;
	position: relative;
}
.maintitle{
	text-align: center;
	text-decoration: underline;
	text-indent: 50px;
	display: inline-block;
	letter-spacing: 2px;
	text-shadow: 1.5px 1.5px green;
	font-family: Arial, Helvetica, sans-serif;
	font-variant: small-caps;		
	color: #F5932B;
	padding-left: 50px;
}
.dropbtn {
    background-color: #6E5C78;
    color: white;
    padding: 26px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #6E5C78;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #6E5C78}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #6E5C78;
}
h2 {
	text-decoration: underline;
	text-indent: 30px;
	display: inline-block;
	letter-spacing: 2px;
	text-shadow: 1.5px 1.5px green;
	font-family: Arial, Helvetica, sans-serif;
	font-variant: small-caps;		
	color: #F5932B;
	padding-left: 50px;
}